.board-container {
  display: flex;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  align-items: flex-start;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #f3f4f6;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.board-columns {
  display: flex;
  gap: 2rem;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}

@media (max-width: 800px) {
  .board-columns {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .column {
    width: 100%;
    max-width: 400px;
  }
}
